.ff-control-multi-range-low, .ff-control-multi-range-high {
  padding: 0;
  margin: 0;
  display: inline-block;
  vertical-align: top;
}

.ff-control-multi-range-low {
  position: absolute;
}

.ff-control-multi-range-low::-webkit-slider-thumb {
  position: relative;
  z-index: 2;
}

.ff-control-multi-range-low::-moz-range-thumb {
  z-index: 2;
}


.ff-control-multi-range-low::-webkit-slider-runnable-track,
.ff-control-multi-range-low::-moz-range-track,
.ff-control-multi-range-high::-webkit-slider-runnable-track,
.ff-control-multi-range-high::-moz-range-track {
  background: transparent;
}

.ff-control-multi-range-low::-webkit-slider-runnable-track {
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset;
  border-radius: 10px;
}

.ff-control-multi-range-high::-webkit-slider-runnable-track {
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset;
  border-radius: 10px;
}

.ff-control-multi-range-high {
  position: relative;
}

.ff-control-multi-range-high::-webkit-slider-thumb {
  position: relative;
  z-index: 2;
}

.ff-control-multi-range-high::-moz-range-thumb {
  z-index: 2;
}
