:root {
  --brand-primary: #8f2c27;
}


.form-for label {
  font-weight: bold;
}

.form-for label.error {
  font-weight: bold;
  color: red;
}

.form-for input,
.form-for textarea,
.form-for select {
  border: 1px solid black;
  border-radius: 4px;
}

.form-for .field-for {
  display: flex;
  flex-direction: row;
  padding: 0.5em;
}

.field-for label {
  width: 100px;
}

.field-for .field-for-control-container  {
  flex: 1;
}

.field-for.push-right {
  margin-left: 100px;
}

.columns {
  display: flex;
  flex-direction: row;
}

.columns > * {
  flex: 1;
  width: 50%;
}

.form-for button {
  border: 1px solid black;
  background-color: lightgrey;
  border-radius: 4px;
}

.form-for button:hover {
  background-color: white;
}

.form-for h1 {
  font-weight: bold;
  font-size: 22px;
}

.form-for h2 {
  font-weight: bold;
  font-size: 16px;
}

.hljs.model {
  font-size: 12px;
}
