{{#if errors}}
  <div class="errors {{strip-class-names classNames}}">
    {{#each errors as |error|}}
      {{#if config.customErrorComponent}}
        {{component config.customErrorComponent error=error}}
      {{else}}
        <label class="error">{{error}}</label>
      {{/if}}
    {{/each}}
  </div>
{{/if}}

