<div class="{{config.formClasses}} {{strip-class-names classNames}} {{_testingClass}}">
  {{yield (hash
            field-for=(component 'field-for'
              form=this

              commitValue=(action updateValue)
              commitValues=(action updateValues)
            )
            submit=(component 'form-button'
              text="Submit"
              isActing=isSubmitting
              classNames=config.submitButtonClasses

              onClick=(action doSubmit)
            )
            reset=(component 'form-button'
              text="Reset"
              isActing=isResetting
              classNames=config.resetButtonClasses

              onClick=(action doReset)
            )
          )
          this
  }}
</div>

