<div class="{{config.formClasses}}">
  {{yield (hash
            field-for=(component 'field-for'
              form=this

              commitValue=updateValue
            )
          )
  }}
</div>

